[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
tensorflow = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
uszipcode = "==0.2.6"
pyarrow = "*"
fastparquet = "*"
dython = "*"
gensim = "*"
scikit-learn = "*"
scipy = "==1.12"
tensorflow-recommenders = "*"
pydot = "*"

[dev-packages]

[requires]
python_version = "3.11"
